<div class="flex flex-col gap-4">
  <div class="flex justify-end">
    <a matFab extended [routerLink]="navMenuItems.societyManage.route">
      <mat-icon>add</mat-icon>{{ addButtonLabel }}
    </a>
  </div>
  <mat-divider></mat-divider>
  <div class="flex flex-col gap-4">
    <h1 class="text-2xl" i18n="@@listOfSocietiesLabel">List of Societies</h1>
    @if (societySignal()) {
      @for (society of societySignal(); track $index) {
        <mat-card class="gap-4">
          <mat-card-header
            ><mat-card-title class="!mb-1"> {{ society.name }}</mat-card-title>
            <mat-card-subtitle>{{ society.description }}</mat-card-subtitle></mat-card-header
          >
          <mat-card-content>
            <span>{{ society.builder }}</span>
            <span>{{ society.promoter }}</span>
          </mat-card-content>
        </mat-card>
      }
    } @else {
      <p i18n="@@noDataFoundLabel">No data found</p>
    }
  </div>
</div>
