@theme {
  --color-primary: var(--mat-sys-primary);
  --color-primary-container: var(--mat-sys-primary-container);
  --color-surface: var(--mat-sys-surface);
  --color-background: var(--mat-sys-background);
  --color-border: var(--mat-sys-outline);
  --color-error: var(--mat-sys-error);
  --font-sans: Roboto, Arial, sans-serif;
}
