@use '@angular/material' as mat;
@use './brand' as brand;

// light theme
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: brand.$primary-palette,
      tertiary: brand.$tertiary-palette,
    ),
    typography: (
      plain-family: Roboto,
      brand-family: Roboto,
    ),
    density: (
      scale: 0,
    ),
  )
);

// dark theme
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: brand.$primary-palette,
      tertiary: brand.$tertiary-palette,
    ),
    typography: (
      plain-family: Roboto,
      brand-family: Roboto,
    ),
    density: (
      scale: 0,
    ),
  )
);
