:root {
  --app-primary: var(--mat-sys-primary);
  --app-tertiary: var(--mat-sys-tertiary);
  --app-background: var(--mat-sys-background);
  --app-surface: var(--mat-sys-surface);
  --app-text: var(--mat-sys-on-background);
  --app-border: var(--mat-sys-outline);
}

.dark-theme {
  --app-primary: var(--mat-sys-primary);
  --app-tertiary: var(--mat-sys-tertiary);
  --app-background: var(--mat-sys-background);
  --app-surface: var(--mat-sys-surface);
  --app-text: var(--mat-sys-on-background);
  --app-border: var(--mat-sys-outline);
}
