<div class="flex flex-col gap-2 px-2">
  <div class="flex py-2">
    <mat-list>
      <mat-list-item>
        @if (auth.user()) {
          <button matButton [matMenuTriggerFor]="profileMenu">
            <mat-icon>{{ navMenuItems.userProfile.icon }}</mat-icon
            >{{ navMenuItems.userProfile.label }}
          </button>
        } @else {
          <a
            matButton
            [routerLink]="navMenuItems.login.route"
            (click)="menuItemsClicked.emit()"
            routerLinkActive="!bg-[var(--mat-sys-primary-container)]"
            ><mat-icon>{{ navMenuItems.login.icon }}</mat-icon> {{ navMenuItems.login.label }}
          </a>
        }
      </mat-list-item>
      <mat-list-item>
        <button matButton [matMenuTriggerFor]="changeLanguage">
          <mat-icon>{{ navMenuItems.changeLanguage.icon }}</mat-icon
          >{{ navMenuItems.changeLanguage.label }}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-slide-toggle
          i18n="@@darkModeLabel"
          (change)="switchTheme($event.checked ? 'dark' : 'light')"
        >
          Dark Mode
        </mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <div class="flex flex-col gap-2">
      <a
        mat-list-item
        [routerLink]="navMenuItems.dashboard.route"
        (click)="menuItemsClicked.emit()"
        routerLinkActive="!bg-[var(--mat-sys-primary-container)]"
        ><mat-icon matListItemIcon>{{ navMenuItems.dashboard.icon }}</mat-icon>
        {{ navMenuItems.dashboard.label }}
      </a>
      <a
        mat-list-item
        [routerLink]="navMenuItems.society.route"
        (click)="menuItemsClicked.emit()"
        routerLinkActive="!bg-[var(--mat-sys-primary-container)]"
        ><mat-icon matListItemIcon>{{ navMenuItems.society.icon }}</mat-icon>
        {{ navMenuItems.society.label }}
      </a>
    </div>
  </mat-nav-list>
</div>

<mat-menu #profileMenu>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>{{ navMenuItems.logout.icon }}</mat-icon> {{ navMenuItems.logout.label }}
  </button>
</mat-menu>
<mat-menu #changeLanguage>
  @for (language of languages; track $index) {
    <button mat-menu-item (click)="switchLanguage(language.key)">
      {{ language.label }}
    </button>
  }
</mat-menu>
