<mat-nav-list>
  @if (auth.user()) {
    <a mat-list-item (click)="logOut()"
      ><mat-icon matListItemIcon>{{ navRoutes.login.icon }}</mat-icon> {{ navRoutes.logout.label }}
    </a>
  } @else {
    <a mat-list-item [routerLink]="navRoutes.login.route"
      ><mat-icon matListItemIcon>{{ navRoutes.login.icon }}</mat-icon> {{ navRoutes.login.label }}
    </a>
  }
  <a mat-list-item [routerLink]="navRoutes.dashboard.route"
    ><mat-icon matListItemIcon>{{ navRoutes.dashboard.icon }}</mat-icon>
    {{ navRoutes.dashboard.label }}
  </a>
</mat-nav-list>
