.mat-sidenav-container {
  height: 100vh;

  .mat-sidenav {
    width: auto;
  }

  .mat-toolbar {
    background: var(--mat-sys-inverse-primary);
    display: flex;
    gap: 1rem;
  }

  main {
    height: calc(100vh - 64px);
  }
}
