.wrapper {
  .mat-sidenav-container {
    height: calc(100vh - 64px);

    mat-sidenav {
      &.w-auto {
        width: auto;
      }

      &.w-50 {
        width: 50%;
      }
    }

    mat-sidenav-content {
      &.p-15 {
        padding: 15px;
      }

      main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
      }
    }
  }
}
