.wrapper {
  .mat-sidenav-container {
    height: calc(100vh - 64px);

    mat-sidenav {
      &.w-20 {
        width: 20%;
      }

      &.w-50 {
        width: 50%;
      }
    }

    mat-sidenav-content {
      &.p-15 {
        padding: 15px;
      }
    }
  }
}
