<div class="flex flex-col content-around flex-wrap h-full justify-center gap-8">
  <mat-card class="max-sm:w-full w-1/2">
    <mat-card-content>
      <mat-tab-group dynamicHeight class="gap-4">
        <mat-tab label="Log In">
          <p class="mb-4">New users please click on sign up tab to register</p>
          <form
            [formGroup]="loginForm"
            class="flex flex-col gap-4"
            (submit)="loginWithEmailPassword()"
          >
            <mat-form-field class="max-sm:w-full" appearance="fill">
              <mat-label> Email </mat-label>
              <input
                matInput
                type="text"
                placeholder="Enter email"
                formControlName="email"
                maxlength="500"
              />
              @if (loginForm.get('email')?.hasError('required')) {
                <mat-error>This field is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="max-sm:w-full" appearance="fill">
              <mat-label> Password </mat-label>
              <input
                matInput
                type="password"
                placeholder="Enter password"
                formControlName="password"
                maxlength="500"
              />
              @if (loginForm.get('password')?.hasError('required')) {
                <mat-error>This field is required</mat-error>
              }
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Log in</button>
          </form>
        </mat-tab>
        <mat-tab label="Sign Up">
          <form
            [formGroup]="signupForm"
            class="flex flex-col gap-4"
            (submit)="signupWithEmailPassword()"
          >
            <mat-form-field class="max-sm:w-full" appearance="fill">
              <mat-label> First Name </mat-label>
              <input
                matInput
                type="text"
                placeholder="Enter firstname"
                formControlName="firstname"
                maxlength="500"
              />
              @if (signupForm.get('firstname')?.hasError('required')) {
                <mat-error>This field is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="max-sm:w-full" appearance="fill">
              <mat-label> Last Name </mat-label>
              <input
                matInput
                type="text"
                placeholder="Enter last name"
                formControlName="lastname"
                maxlength="500"
              />
              @if (signupForm.get('lastname')?.hasError('required')) {
                <mat-error>This field is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="max-sm:w-full" appearance="fill">
              <mat-label> Email </mat-label>
              <input
                matInput
                type="text"
                placeholder="Enter email"
                formControlName="email"
                maxlength="500"
              />
              @if (signupForm.get('email')?.hasError('required')) {
                <mat-error>This field is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="max-sm:w-full" appearance="fill">
              <mat-label> Password </mat-label>
              <input
                matInput
                type="password"
                placeholder="Enter password"
                formControlName="password"
                maxlength="500"
              />
              @if (signupForm.get('password')?.hasError('required')) {
                <mat-error>This field is required</mat-error>
              }
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="!signupForm.valid">Sign up</button>
          </form>
        </mat-tab>
      </mat-tab-group></mat-card-content
    ></mat-card
  >
  <button mat-raised-button (click)="login()">{{ appConst.loginWithGoogle }}</button>
</div>
